<launch>
  <arg name="object_name" default="auk" />
  <node name="$(arg object_name)" type="ros_vrpn_client" pkg="ros_vrpn_client" output="screen">
    <param name="vrpn_server_ip" value="vicon" />
    <param name="vrpn_coordinate_system" value="vicon" />
    <param name="tranEst_kp" value="1.0" />
    <param name="tranEst_kv" value="10.0" />
  </node>
</launch>
